.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-todo {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0;
  &__item {
    border: 1px solid #cacaca;
    list-style-type: none;
    margin-bottom: 4px;
  }
}

.item-todo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    cursor: pointer;
    font-size: 24px;
  }

  &__action {
    &-btn {
      border: 1px solid #1caae2;
      border-radius: 4px;
      margin-right: 10px;
      padding: 0;
      width: 40px;
      height: 40px;
      background-color: white;
      outline: none;
      transition: 0.2s;

      &:hover {
        border: 1px solid #1caae2;
        background-color: #8ed7f3;
      }
      img {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
      }
    }
  }
}
.active-text-important {
  color: rgb(117, 10, 10);
}

.active-text-done {
  text-decoration: line-through;
}

.active-btn {
  border: 1px solid #1caae2;
  background-color: #1caae2;
  &:hover {
    border: 1px solid #1caae2;
    background-color: #1caae2;
  }
}
